:root {
    --bg-dark: #1f2937;
    --text-primary: #040404;
    --text-secondary: #6596d1;
    --accent-blue: #3b82f6;
    --danger-red: #c67575;
    --success-green: #22c55e;
    --border-light: rgba(255, 255, 255, 0.08);
}


.bb-header * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bb-header button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
}

.bb-header {
    position: sticky;
    top: 0;
    z-index: 1000;

    height: 70px;
    width: 100%;
    padding: 0 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;


    color: var(--text-primary);
    border-bottom: 1px solid var(--border-light);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25);
}

/* ============================= */
/* LEFT LOGO */
/* ============================= */
.bb-logo-area {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    font-weight: 700;
    color: var(--text-primary);
    white-space: nowrap;
}

.bb-logo-area span:first-child {
    font-size: 24px;
}

/* ============================= */
/* CENTER NAV */
/* ============================= */
.bb-nav {
    display: flex;
    align-items: center;
    gap: 32px;
}

.bb-nav-link {
    color: var(--text-secondary);
    font-size: 15px;
    font-weight: 600;
    padding: 8px 0;
    transition: 0.25s;
}

.bb-nav-link:hover {
    color: var(--accent-blue);
}

/* ============================= */
/* RIGHT SIDE */
/* ============================= */
.bb-user-area {
    display: flex;
    align-items: center;
    gap: 18px;
}

/* post bug button */
.create-btn {
     background: var(--danger-red);
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 600;
}

.create-btn:hover {
    transform: translateY(-1px);
}

/* user info */
.bb-user-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.bb-user-name {
    font-size: 14px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.bb-user-role {
    font-size: 10px;
    font-weight: 800;
    color: var(--accent-blue);
    letter-spacing: 1px;
}

/* logout */
.bb-logout-btn {
    background: var(--danger-red);
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 600;
}


/* RESPONSIVE */
@media (max-width: 900px) {
    .bb-nav {
        display: none;
    }

    .bb-user-text {
        display: none;
    }
}